<div class="container">
    <div class="header">
        Aditya Poolla!
    </div>
    <div class="content">
        <div class="card" (click)="navigateToRoute('home')">
            <p>Home</p>
        </div>

        <div class="card" (click)="navigateToRoute('ui-components')">
            <p>UI Components</p>
        </div>
        <div class="card">
            <p>Responsive Webpage</p>
        </div>
        <div class="card" (click)="navigateToRoute('blogs')">
            <p>Blogs</p>
        </div>
    </div>
</div>